* {
    font-family: Georgia;
  }
  
  
  h1,h2 {
    color: red;
  }
  
  
  p, 
  li {
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
  }

  body{
    background-color: yellowgreen;
  }